@import '../node_modules/bulma/sass';

.lib-el{
  height: 15rem;
  object-fit: cover;
  min-width: 12rem;

}

.img-container {
  position: relative;
  //max-width: 25rem;
}

.lib-el-desc{
  text-overflow: ellipsis;
  overflow: hidden;
}

.lib-grid {
  display: flex;
  flex-wrap: wrap;
}

.lib-grid::after {
  content: '';
  flex-grow: 999999999;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(5, 5, 5, 0.85);
  color: azure;
}

.img-container:hover .overlay {
  opacity: 1;
}

.button.is-wide {
  min-width: 63px;
}

.is-in-exhibit {
  //border: solid 1px rgb(142, 255, 108);
}