@import '../node_modules/bulma/sass';

.lib-el{
  height: 20rem;
  object-fit: contain;
}

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(5, 5, 5, 0.85);
  color: azure;
}

.img-container:hover .overlay {
  opacity: 1;
}